/******CSS Designed By Jennifer Magie and Jenny O'Callaghan******/

@import url('http://fonts.googleapis.com/css?family=Oxygen:300');
@import url('http://fonts.googleapis.com/css?family=Raleway');

*{
    font-family: 'Raleway', sans-serif;
}

/********** - Main Page Layout - **********/
body{
    margin: 36px auto;
    width: 90%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    padding-right: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

h1{
    color: darkcyan;
    font-family: "Raleway", Helvetica, Arial, sans-serif;
    font-size: 40px;
}

h4{
    text-decoration: underline;
    font-weight: bold;
}

#page{
    margin: 0 auto 53px;
    width: 93.75%; /* 900px / 960px */
}
#main{
    float: left;
    width: 62.8888889%; /* 566px / 900px */
}

/********** - Header Section - **********/


img{
    margin-left: auto;
    margin-right: auto;
    display: block;
}
/*********** - Aside on index.php - **********/
.slider{ 
    width:673px;
    min-height:400px;
    float:left;	
    margin:0px;
    text-align:center;
    padding:50px 0px;
    display: inline;
    list-style-type: none;
    padding-right: 3em;

}

/********** - Navigation Section - **********/
nav{
    margin-left: 15em;
    margin-right: auto;
    display: block;
}
ol{
    list-style: none;
    display: inline-flex;

}

li{
    display: inline;
    padding-left: 30px;
    text-transform: uppercase;
}

a{
    text-decoration: none;
}
/********** - - **********/
article h1, article p, article table{
    padding: .2em 8.48056537% .2em 8.48056537%; /* 48px / 566px */
}

/* ---------------------- About Us --------------------------------- */
article.main {
    float: right;
    padding-right:2em;
}

/* --- Video --- */
iframe {
    margin-bottom: 25px;
    margin-top: 25px;
    border: solid #4b4b4b 5px;
    border-radius: 3px;
    display:block;
    margin-right:auto;
    margin-left:auto;
    width:500px;
}

img.su {float: right;}
img.ru {float: right;}



/* --- Image --- */

.userprofile {
    padding: 10px 0px 0px 0px;
    text-align: right;
    list-style-type: none;
    float: right;
    margin-right: 10%;
}

.mypic {
    border-radius: 100px;
    position: relative;
    display: block;
    margin: 10px auto;
    box-shadow: 0px 0px 0px 4px #4b4b4b, 0px 0px 10px 10px rgba(0, 0, 0, 0.3);
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
}

.mypic2 {
    border-radius: 100px;
    position: relative;
    display: block;
    margin: 10px auto;
    box-shadow: 0px 0px 0px 4px #4b4b4b, 0px 0px 10px 10px rgba(0, 0, 0, 0.3);
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
}

.glow {
    display: block;
    width: 109px;
    height: 107px;
    top: 0px;
    left: 50%;
    margin-left: -55px;
    box-shadow: inset 90px 110px 0px -90px rgba(255,255,255,.15);
    border-radius: 50%;
}

/***************** Footer Section ********************/
footer{
    clear: both;
    padding: 0.8em 5.33333333%; /* 48px / 900px */
    line-height: 0.1em;
    text-align: center;
    font-family: "Raleway", Helvetica, Arial, sans-serif;
    color: darkcyan;
}

/***************** Form Section ********************/
#form article#main{
    float: none;
    margin: auto; /* because of the fixed width this centers the form */
    text-align: left;
    max-width: 600px; /* not repsonive but fixed */
    border: 0;
}
form#frmRegister{
    margin-left: 15em;
}

/* need to clear any floats that may exist */
fieldset{
    clear: both;
    border: 0;
}
fieldset.wrapper {
    margin: auto;
    border: 0;

}
fieldset.radio{
    border:1px;
    border-style: dotted;
}
fieldset.checkbox{
    border:1px;
    border-style: dotted;
}
/* just pushes content to left side of the box. */
fieldset.search{
    float: left;
    margin-left: 4em;
}
fieldset.buttons{
    border:none;
    margin-left: 9em;
}

/* when you look at the labels this pushes then next to the input and right
aligns them. Display block means they are each on their own line. */
fieldset.search label{
    display: block;
    text-align: right;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 25px;
    color: darkcyan;
    /* pushes the text to the right where they line up */
    /* the float left above pushes everything back to the left*/
}
fieldset.search input, fieldset.search select{
    width: 25em; /* works with above to be the same size for the boxes */
}
input#btnSubmit{
    position: relative;
    vertical-align: top;
    /*    margin-left: 8em; */
    width: 40%;
    height: 35px;
    padding: 0;
    font-size: 20px;
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px rgba(black, .25);
    background: #f0776c;
    border: 0;
    border-bottom: 2px solid #d76b60;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: inset 0 -2px #d76b60;
}

input#btnReset{
    position: relative;
    vertical-align: top;
    /*    margin-left: 8em; */
    width: 20%;
    height: 35px;
    padding: 0;
    font-size: 20px;
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px rgba(black, .25);
    background: #f0776c;
    border: 0;
    border-bottom: 2px solid #d76b60;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: inset 0 -2px #d76b60;
}

label {
    color: #005cb3;
    display: block;
    font-size: .9em;
    font-weight: bold;
}
/* style the errors in the form so they are visible */
.mistake {
    color: #fff;
    background-color:#800;
    border: thin solid #000;
}
/* style the list of errors that will show before the form */
#errors ol li{
    color: #ff5555;
}

/********** Table Style **********/
table{
    border-collapse: collapse;
    border: groove lightblue;
}
table, tr, td,th {
    padding: .2em;
}
td:nth-child(4), td:nth-child(9){
    text-align: center;
}
tr:nth-child(odd){
    background:#ffffff;
}
tr:nth-child(even){
    background: lightblue;
} 
tr:hover{
    background: rgb(31, 84, 131);
    color: whitesmoke;
}
tbody{
    /*   display:block;
       height: 10em;
       overflow: auto;*/
}
